# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node / Frontend
node_modules/
dist/
*.log
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.env.*
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editors / OS
.idea/
.vscode/
.cursorignore
.cursorindexingignore
*.swp
*.swo
Thumbs.db

